<!-- Page Wrapper -->
<div id="wrapper" aria-label="Main View">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" aria-label="side bar">

        <!-- Sidebar - Brand -->
        <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Bookmark Collector </div>
            </a>
        </li>
        <!-- Divider -->


        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard" onclick="gotoType(1)">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showFav();">

                <span>Favorite</span>
            </a>
        </li>


        <!-- Divider -->


        <li class="nav-item" id="accordionExample">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-header" id="headingOne">
                    <h1 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Categories
                        </button>
                    </h1>
                </div>

                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    {{#each cata}}
                    <div class="card-body align-items-center justify-content-center">
                        <a href="/dashboard?catalog={{this}}">
                            {{this}}
                        </a>
                    </div>
                    <script>
                        //{{this}}.sort();
                    </script>
                    {{/each}}

                </div>
            </div>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"  aria-label="toolbar">

                <!-- Sidebar Toggle (Topbar) -->
                {{!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button> --}}

                <!-- Topbar Search -->
                <form id="searchForm" method="POST" action="/dashboard"
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" name="searchText" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search">
                        <div id="basic-addon2" class="input-group-append">
                            <label for="searchButton" aria-label="Search Button"></label>
                            <button id="searchButton" class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>


                <!-- Add Url -->
                <div class="input-group justify-content-end">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#urlModal">
                        Add Bookmark
                    </button>
                </div>
                <!-- Add url modal form -->
                <div class="modal fade" id="urlModal" tabindex="-1"  aria-labelledby="urlModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="urlModalLabel">Add new Bookmark</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form id="post-bookmark">
                                    <div class="form-group">
                                        <label for="bookCategory">Category</label>
                                        <input type="text" class="form-control" name="bookCategory" maxlength="15" id="bookCategory"
                                            aria-describedby="categoryHelp" placeholder="Ex: Drama" required>
                                        <div id="categoryHelp"></div>
                                    </div>

                                    <div class="dropdown-divider"></div>

                                    <div class="form-group">
                                        <label for="bookDes">Note</label>
                                        <textarea id="bookDes" name="bookDes" class="form-control"
                                            rows="3" placeholder="Enter Notes..." required></textarea>
                                    </div>

                                    <div class="dropdown-divider"></div>
                                    <!-- URL -->
                                    <div class="form-group">
                                        <label for="bookmarkURL">Bookmark Url</label>
                                        <input type="url" class="form-control" id="bookmarkURL" name="bookmarkURL"
                                            aria-describedby="bookmarkURL" placeholder="https://example.com"
                                            size="30" required>
                                        <div id="bookmarkURLHelp"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" value="save"
                                            id="saveBookmark">Save</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- START Delete Modal -->
                <div id="deleteModal" class="modal fade bd-example-modal-lg" tabindex="-1" 
                    aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div id="mySmallModalLabel"></div>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Confirm Deletion</h1>
                            </div>
                            <div class="modal-body">
                                <p>Sure to Delete Bookmark with ID:</p><p id="bookmarkID"></p><p>?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger" id="delete-bookmark-confirm-button">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Delete Modal -->

                <!-- edit url form -->
                <div class="modal fade" id="editModal" tabindex="-1"  aria-labelledby="editModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="editModalLabel">Edit Bookmark</h1>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form id="edit-bookmark">
                                    <div class="form-group">
                                        <div id="editCategoryHelp"></div>
                                        <label for="bookCategory">Category</label>
                                        <input type="text" class="form-control" name="bookCategory"
                                            id="editBookCategory" aria-describedby="editCategoryHelp"
                                            placeholder="Ex: Drama" required>
                                    </div>

                                    <div class="dropdown-divider"></div>

                                    <div class="form-group">
                                        <label for="editBookDes">Note</label>
                                        <textarea id="editBookDes" name="bookDes" class="form-control"
                                            rows="3" placeholder="Enter Notes..."
                                            required></textarea>
                                    </div>

                                    <div class="dropdown-divider"></div>
                                    <!-- URL -->
                                    <div class="form-group">
                                        <div id="editBookmarkURLHelp"></div>
                                        <label for="editBookmarkURL">Bookmark Url</label>
                                        <input type="url" class="form-control" id="editBookmarkURL" name="bookmarkURL"
                                            aria-describedby="editBookmarkURLHelp" placeholder="https://example.com"
                                            size="30" readonly="readonly">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="closeForm"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary"
                                            id="editSubmitBookmark">Save</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
                            <img class="img-profile rounded-circle" alt="Ironman_Profile"
                                src="http://p0.qhimg.com/dr/1080__/t01e8e3c1daa93bfc6c.jpg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-1 text-gray-800">Bookmarks</h1>
                <p class="mb-4">All your bookmark collections are here.</p>
                <!-- End of Page Heading -->


                <!-- Content Row -->
                <div class="row">
                    <!-- Note: the bookmark cards starts populating here -->
                    {{#each posts}}
                    <div class="col-lg-12 cardEach" id={{this.url}} data-name={{this.isFavorite}}>
                        <div class="card mb-4 py-3 border-left-primary">
                            <div class="card-body" >
                                <div class="row">
                                    <div class="col-sm-8">
                                        <span class="badge badge-secondary" data-name="category">{{this.genre}}</span>
                                        <a href="{{this.url}}" target="_blank" class="badge badge-dark">{{this.url}}</a>
                                        <p>Notes: {{this.description}}</p>
                                    </div>

                                    <!-- Share Button -->
                                    <div data-name="socialSharing">
                                        <!-- Sharingbutton Facebook -->
                                        <a aria-label="share button for Facebook" class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{this.url}}" target="_blank" rel="noopener">
                                        <div aria-label="share button for Facebook" class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
                                            </div>
                                        </div>
                                        </a>

                                        <!-- Sharingbutton Twitter -->
                                        <a aria-label="share button for Twitter" class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Hey%20check%20out%20my%20this%20cool%20site%3A%20{{this.url}}&amp;url={{this.url}}" target="_blank" rel="noopener">
                                        <div aria-label="share button for Twitter" class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>
                                            </div>
                                        </div>
                                        </a>

                                        <!-- Sharingbutton E-Mail -->
                                        <a aria-label="share button for E-Mail" class="resp-sharing-button__link" href="mailto:?subject=Hey%20check%20out%20my%20this%20cool%20site%3A%20{{this.url}}&amp;body={{this.url}}" target="_self" rel="noopener">
                                        <div aria-label="share button for E-Mail" class="resp-sharing-button resp-sharing-button--email resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 4H2C.9 4 0 4.9 0 6v12c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7.25 14.43l-3.5 2c-.08.05-.17.07-.25.07-.17 0-.34-.1-.43-.25-.14-.24-.06-.55.18-.68l3.5-2c.24-.14.55-.06.68.18.14.24.06.55-.18.68zm4.75.07c-.1 0-.2-.03-.27-.08l-8.5-5.5c-.23-.15-.3-.46-.15-.7.15-.22.46-.3.7-.14L12 13.4l8.23-5.32c.23-.15.54-.08.7.15.14.23.07.54-.16.7l-8.5 5.5c-.08.04-.17.07-.27.07zm8.93 1.75c-.1.16-.26.25-.43.25-.08 0-.17-.02-.25-.07l-3.5-2c-.24-.13-.32-.44-.18-.68s.44-.32.68-.18l3.5 2c.24.13.32.44.18.68z"/></svg>
                                            </div>
                                        </div>
                                        </a>

                                        <!-- Sharingbutton LinkedIn -->
                                        <a aria-label="share button for LinkedIn" class="resp-sharing-button__link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{this.url}}&amp;title=Hey%20check%20out%20my%20this%20cool%20site%3A%20{{this.url}}&amp;summary=Hey%20check%20out%20my%20this%20cool%20site%3A%20{{this.url}}&amp;source={{this.url}}" target="_blank" rel="noopener">
                                        <div aria-label="share button for LinkedIn" class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"/></svg>
                                            </div>
                                        </div>
                                        </a>

                                        <!-- Sharingbutton Reddit -->
                                        <a aria-label="share button for Reddit" class="resp-sharing-button__link" href="https://reddit.com/submit/?url={{this.url}}&amp;resubmit=true&amp;title=Hey%20check%20out%20my%20this%20cool%20site%3A%20{{this.url}}" target="_blank" rel="noopener">
                                        <div aria-label="share button for Reddit" class="resp-sharing-button resp-sharing-button--reddit resp-sharing-button--small"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 11.5c0-1.65-1.35-3-3-3-.96 0-1.86.48-2.42 1.24-1.64-1-3.75-1.64-6.07-1.72.08-1.1.4-3.05 1.52-3.7.72-.4 1.73-.24 3 .5C17.2 6.3 18.46 7.5 20 7.5c1.65 0 3-1.35 3-3s-1.35-3-3-3c-1.38 0-2.54.94-2.88 2.22-1.43-.72-2.64-.8-3.6-.25-1.64.94-1.95 3.47-2 4.55-2.33.08-4.45.7-6.1 1.72C4.86 8.98 3.96 8.5 3 8.5c-1.65 0-3 1.35-3 3 0 1.32.84 2.44 2.05 2.84-.03.22-.05.44-.05.66 0 3.86 4.5 7 10 7s10-3.14 10-7c0-.22-.02-.44-.05-.66 1.2-.4 2.05-1.54 2.05-2.84zM2.3 13.37C1.5 13.07 1 12.35 1 11.5c0-1.1.9-2 2-2 .64 0 1.22.32 1.6.82-1.1.85-1.92 1.9-2.3 3.05zm3.7.13c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9.8 4.8c-1.08.63-2.42.96-3.8.96-1.4 0-2.74-.34-3.8-.95-.24-.13-.32-.44-.2-.68.15-.24.46-.32.7-.18 1.83 1.06 4.76 1.06 6.6 0 .23-.13.53-.05.67.2.14.23.06.54-.18.67zm.2-2.8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm5.7-2.13c-.38-1.16-1.2-2.2-2.3-3.05.38-.5.97-.82 1.6-.82 1.1 0 2 .9 2 2 0 .84-.53 1.57-1.3 1.87z"/></svg>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary" type="button"
                                            onclick="modalshow('{{{this.genre}}}','{{{this.description}}}','{{this.url}}');">
                                            Edit
                                        </button>
                                        <!-- Delete Button -->
                                        <button class="btn btn-primary" type="button" data-target=".bd-example-modal-sm" onclick="showDeleteModal('{{this._id}}');">Delete</button>
                                        <!-- Favorite Button -->
                                        <button type="button" class="favoriteBtn {{this.isFavorite}}"
                                            onclick="addfavorite('{{this.url}}');">Add To Favorite</button>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div><!-- END class="col-lg-12" -->
                    {{/each}}
                </div><!-- END Content Row -->
            </div>
            <!-- End Page Content (/.container-fluid) -->


            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Group 12 Team 2019</span>
                    </div>
                </div>
            </footer><!-- End of Footer -->
        </div><!-- End of Main Content -->
    </div><!-- End of Content Wrapper -->
</div><!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1"  aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel1">Ready to Leave?</h1>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>



<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins: Customized Javascript code for dashboard.handlebars ONLY!!!!-->
<script defer src="js/postBookmark.js"></script>
<script defer src="js/editBookmark.js"></script>
<script defer src="js/deleteBookmark.js"></script>
<script defer src="js/addFavorite.js"></script>
<script>
    function modalshow(genre, des, url) {
        $('#editBookCategory').val(genre);
        $('#editBookDes').text(des);
        $('#editBookmarkURL').val(url);
        //$('#urlModalLabel').text('Edit Bookmark');
        $('#editModal').modal('show');
    }
    function showDeleteModal(id){
        $('#bookmarkID').text(id);
        $('#deleteModal').modal('show');
    }

    function addfavorite(u) {
        //console.log("1");
        var fun = addFavorite;
        fun(u);
    }

    function showFav() {
        const datas = document.getElementsByClassName('cardEach');
        for (var i = 0; i < datas.length; i++) {
            if (datas[i].getAttribute('data-name') == "Yes") {
                //datas[i].setAttribute('display', 'block');
            }
            else {
                datas[i].setAttribute('hidden', true);
            }
        }

    }
    $(document).ready(function () {
        $('.favoriteBtn.No').addClass("btn btn-primary");
        $('.favoriteBtn.No').text('Add to Favorite');
        $('.favoriteBtn.Yes').addClass("btn btn-secondary");
        $('.favoriteBtn.Yes').text('Remove from Favorite');
    })
</script>

<!-- END Page level plugins -->