<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href=" ">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Bookmark Collector </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href=" " onclick="gotoType(1)">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">

                <span>Your List</span>
            </a>

        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">

                <span>Favorite</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <div class="accordion" id="accordionExample">
            <div class="card d-flex align-items-center justify-content-center">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Categories
                        </button>
                    </h2>
                </div>
                {{!-- ============= shuhao ============= --}}
                {{!-- <script>
                    var incomingBookmarkCategory = document.getElementById("bookCategory").innerHTML;

                    document.getElementById('bookCategory')
                </script>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Video
                    </div>
                    
                </div>
            </div> --}}

                <!-- Begin Category Content -->
                {{!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {{#if success_msg}}
                        <div class="alert alert-success">{{success_msg}}</div>
                        {{/if}}
                        {{#if error_msg}}
                        <div class="alert alert-danger">{{error_msg}}</div>
                        {{/if}}
                        {{#if error}}
                        <div class="alert alert-danger">{{error}}</div>
                        {{/if}}
                    </div>
                </div> --}}
                <!-- Page Heading -->
                {{!-- <div class="swiper-container-solution">
                    <div class="selected-solution">
                        <div>
                            <div class="swiper-container">
                                <div class="layer-title">Dashboard</div>
                                <div class="solution-cardlist swiper-wrapper">
                                    {{#each posts}}
                                    <div class="col-sm-4 swiper-slide" style="width: 18rem;">
                                        <img class="card-img-top" src="pic/20161112180454_WwrFN.jpeg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <a class="btn btn-primary" href={{this.url}} role="button">Go</a>
                                            <h5 class="card-title">{{this.genre}}</h5>
                                            <p class="card-text">{{this.description}}</p>

                                            <a href="#" class="card-link">Edit</a>
                                            <a href="#" class="card-link">Delete</a>
                                            <a href="#" class="card-link">Favorite</a>
                                            <a href="#" class="card-link">Share</a>
                                        </div>
                                    </div>
                                    {{/each}}


                                </div>
                                <div class="swiper-pagination solution-pagination"></div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div> --}}
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    {{#each posts}}
                    <div class="card-body">
                        <a href="/dashboard/" {{this.genre}}>
                            {{this.genre}}
                        </a>


                    </div>
                    {{/each}}

                </div>

    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Add Url -->
                <div class="input-group justify-content-end">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#urlModal">
                        Add Bookmark
                    </button>
                </div>
                <!-- Add url form -->
                <div class="modal fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="urlModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add new Bookmark</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="Bookmark Category">Category</label>
                                        <input type="text" class="form-control" name="bookCategory" id="bookCategory"
                                            aria-describedby="categoryHelp" placeholder="Ex: Drama" required>
                                    </div>

                                    <div class="dropdown-divider"></div>

                                    <div class="form-group">
                                        <label for="Book Description">Content</label>
                                        <textarea id="bookDes" name="bookDes" class="form-control" id="bookContent"
                                            rows="3" placeholder="Enter Description.." required></textarea>
                                    </div>

                                    <div class="dropdown-divider"></div>
                                    <!-- URL -->
                                    <div class="form-group">
                                        <label for="URL">Bookmark Url</label>
                                        <input type="url" class="form-control" id="bookmarkURL" name="bookmarkURL"
                                            aria-describedby="bookmarkURLHelp" placeholder="https://example.com"
                                            size="30" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="closeForm"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" value="save"
                                            id="saveBookmark">Save</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - AddURL Dropdown (Visible Only XS) -->


                    <!-- Nav Item - Alerts -->

                    <!-- Nav Item - Messages -->


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
                            <img class="img-profile rounded-circle"
                                src="http://p0.qhimg.com/dr/1080__/t01e8e3c1daa93bfc6c.jpg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {{#if success_msg}}
                        <div class="alert alert-success">{{success_msg}}</div>
                        {{/if}}
                        {{#if error_msg}}
                        <div class="alert alert-danger">{{error_msg}}</div>
                        {{/if}}
                        {{#if error}}
                        <div class="alert alert-danger">{{errosr}}</div>
                        {{/if}}
                    </div>
                </div>
                <!-- Page Heading -->
                <div class="swiper-container-solution">
                    <div class="selected-solution">
                        <div>
                            <div class="swiper-container">
                                <div class="layer-title">Dashboard</div>
                                <div class="solution-cardlist swiper-wrapper">
                                    {{#each posts}}
                                    <div class="col-sm-4 swiper-slide" style="width: 18rem;">
                                        <img class="card-img-top"
                                            src="https://images-na.ssl-images-amazon.com/images/I/31x%2Bq3aNVKL._SX425_.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">

                                            <h5 class="card-title">{{this.genre}}</h5>
                                            <hr class="sidebar-divider d-none d-md-block">
                                            <p class="card-text">{{this.description}}</p>
                                            <a class="btn btn-primary" href={{this.url}} role="button">Go</a>
                                            <button class="btn btn-link" type="button" data-toggle="modal"
                                                data-target="#urlModal">
                                                Edit
                                            </button>
                                            <a href="#" class="card-link">Delete</a>
                                            <a href="#" class="card-link">Favorite</a>
                                            

                                            <div class="container">
                                                <div class="share"></div>
                                            </div>
                                        </div>
                                    </div>


                                    {{/each}}
                                </div>
                                <div class="swiper-pagination solution-pagination"></div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<script src="js/postBookmark.js"></script>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jssocials.js"></script>
<script type="text/javascript">
    $(function () {
        new Swiper(".swiper-container", {

            /*默认功能属性*/
            speed: 250,
            slidesPerView: 3,
            spaceBetween: 0,
            slidesPerGroup: 3,
            loop: true,
            autoplay: true,

            /*分页索引*/
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },

            /*分页按钮*/
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            }

        });
    })
    $(document).ready(function () {
        $('.share').jsSocials({
            shareIn: "popup",
            showCount: false,
            showLabel: false,
            shares: ["twitter", "facebook", "googleplus"]
        })
    })
</script>

<!-- Page level plugins -->